<div
  tuiAppearance="floating"
  tuiCardLarge
>
  <div tuiHeader>
    <span tuiTitle>Тетрис</span>
  </div>

  @if (score$ | async; as score) {
    <tui-notification
      appearance="outline-grayscale"
      size="l"
    >
      Поздравляем! Вы набрали {{ score }} очков!
    </tui-notification>
  }

  <button
    appearance="primary"
    tuiButton
    type="button"
    (click)="startGame()"
  >
    Начать игру
  </button>

  <button
    appearance="outline"
    tuiButton
    type="button"
    (click)="openSetting()"
  >
    Правила и настройки
  </button>
</div>
