<div
  tuiAppearance="floating"
  tuiCardLarge
>
  <div tuiHeader>
    <span tuiTitle>Тетрис</span>
  </div>

  <div class="content">
    @if (score$ | async; as score) {
      <tui-notification
        appearance="info"
        size="l"
        icon="@tui.star"
      >
        Поздравляем! Вы набрали {{ score }} очков!
      </tui-notification>
    }

    <button
      appearance="primary"
      tuiButton
      type="button"
      size="m"
      (click)="startGame()"
    >
      Начать игру
    </button>

    <button
      appearance="secondary"
      tuiButton
      type="button"
      size="m"
      (click)="openSetting()"
    >
      Правила и настройки
    </button>
  </div>
</div>
