<tui-stepper
  orientation="vertical"
  [(activeItemIndex)]="activeItem"
>
  <button
    stepState="pass"
    tuiStep
    type="button"
  >
    Цель игры
  </button>
  <button
    icon="@tui.layout-dashboard"
    tuiStep
    type="button"
  >
    Фигуры (тетрамино)
  </button>
  <button
    icon="@tui.arrow-big-down-dash"
    tuiStep
    type="button"
  >
    Падение фигур
  </button>
  <button
    icon="@tui.list-minus"
    tuiStep
    type="button"
  >
    Удаление линий
  </button>
  <button
    icon="@tui.target"
    tuiStep
    type="button"
  >
    Очки
  </button>
  <button
    icon="@tui.chart-no-axes-combined"
    tuiStep
    type="button"
  >
    Уровень сложности
  </button>
  <button
    icon="@tui.x"
    tuiStep
    type="button"
  >
    Конец игры
  </button>
</tui-stepper>

<div class="content tui-text_body-m">
  @switch (activeItem) {
    @case (0) {
      Заполнить горизонтальные линии без пробелов с помощью падающих фигур
      (тетрамино). Когда линия полностью заполнена, она исчезает, и игрок
      получает очки.
    }
    @case (1) {
      В игре используются семь различных видов фигур, каждая состоит из четырех
      квадратов. Эти фигуры могут быть повернуты на 90 градусов для их
      размещения.
    }
    @case (2) {
      Фигура падает сверху вниз до тех пор, пока не достигнет дна игрового поля
      или другой фигуры. После этого новая фигура появляется вверху.
    }
    @case (3) {
      Если строка полностью заполнена квадратами одной или нескольких фигур, эта
      строка удаляется, а все строки выше нее опускаются на одну линию вниз.
    }
    @case (4) {
      За каждую удаленную строку начисляются очки. Чем больше строк удалено
      одновременно, тем больше очков получает игрок.
    }
    @case (5) {
      По мере прохождения игры скорость падения фигур увеличивается, что
      усложняет задачу.
    }
    @case (6) {
      Игра заканчивается, когда следующая фигура не может поместиться в верхней
      части экрана из-за того, что предыдущие фигуры заполнили игровое поле
      слишком высоко.
    }
  }
</div>
