:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0px;
  box-sizing: border-box;
}

.setting {
  display: grid;
  grid-template-columns: 60px 230px;
  grid-template-rows: 60px auto;
  grid-template-areas:
    'width width'
    'height field';
  margin-bottom: 40px;
}

.ticks-labels {
  display: flex;
  justify-content: space-between;
}

.width {
  width: 250px;
  height: 0px;
  grid-area: width;
  transform: translate(60px, 0px);
}

.height {
  width: 230px;
  height: 50px;
  transform: translate(-90px, 90px) rotate(90deg);
  grid-area: height;
  .tick-label {
    transform: rotate(-90deg);
  }
}

.title {
  align-self: center;
  margin-bottom: 16px;
}

.field {
  display: flex;
  justify-content: center;
  min-height: 230px;
  grid-area: field;
}

.submit {
  margin: 20px 0px;
}
