<div class="setting">
  <div class="width">
    <div class="ticks-labels">
      @for (label of widthLabels; track $index) {
        <button
          class="tick-label"
          tuiButton
          appearance="action"
          size="s"
          (click)="setWidth(label)"
        >
          {{ label }}
        </button>
      }
    </div>
    <input
      size="s"
      step="1"
      tuiSlider
      type="range"
      [min]="minWidth"
      [max]="maxWidth"
      [segments]="widthLabels.length - 1"
      [formControl]="widthControl"
    />
  </div>

  <div class="height">
    <input
      size="s"
      step="1"
      tuiSlider
      type="range"
      [min]="minHeight"
      [max]="maxHeight"
      [segments]="heightLabels.length - 1"
      [formControl]="heightControl"
    />
    <div class="ticks-labels">
      @for (label of heightLabels; track $index) {
        <button
          class="tick-label"
          tuiButton
          appearance="action"
          size="s"
          (click)="setHeight(label)"
        >
          {{ label }}
        </button>
      }
    </div>
  </div>
  <div class="field">
    <app-field-canvas />
  </div>
</div>

<tui-notification
  appearance="warning"
  size="s"
>
  При изменении размеров прогресс игры не сохранится!!!
</tui-notification>

<button
  class="submit"
  appearance="secondary"
  tuiButton
  (click)="submit()"
>
  Применить
</button>
