$left: 48px;
$sideMargin: 20px;

:host {
  display: flex;
  gap: 45px;
  margin: $sideMargin;
  margin-left: calc($sideMargin + $left);
}

.field {
  display: block;
  position: relative;

  .figure {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
