@if (isGameOver$ | async) {
  <app-start-game />
} @else if (!isPlay()) {
  <app-restart-game />
}

<div class="field">
  <app-field-canvas
    [appActionFigure]="fieldPosition()"
    [class.game-over]="isGameOver$ | async"
    (appHoverPosition)="setPosition($event)"
  />
  @if ((isGameOver$ | async) === false) {
    @if (figure$ | async; as figure) {
      @if (lowestPosition$ | async; as position) {
        <app-figure-canvas
          appTranslateFigure
          class="figure"
          [color]="(color$ | async) ?? 'default'"
          [figure]="figure"
          [position]="position"
          [isDotted]="true"
        />
      }
      <app-figure-canvas
        appTranslateFigure
        class="figure"
        [color]="(color$ | async) ?? 'default'"
        [figure]="figure"
        [position]="(position$ | async)!"
      />
    }
  }
</div>

<app-right-panel />
