<div class="island">
  @if (current$ | async; as current) {
    <div class="title">Текущая:</div>
    <div class="figure">
      <app-figure
        [color]="current.color"
        [figure]="current.type"
        [style.height.px]="height | async"
        [style.width.px]="width"
      ></app-figure>
    </div>
  }
  @if (next$ | async; as next) {
    <div class="title">Следующие:</div>
    <div class="next">
      @for (figure of next; track $index; let index = $index) {
        @if (index < 3) {
          <app-figure
            [color]="figure.color"
            [figure]="figure.type"
            [style.height.px]="height | async"
            [style.width.px]="width"
          ></app-figure>
        }
      }
    </div>
  }
</div>
