<div class="island">
  <div class="title">Текущая:</div>
  <div class="figure">
    <app-figure
      [color]="'green'"
      [figure]="'O'"
      [style.height.px]="height | async"
      [style.width.px]="width"
    ></app-figure>
  </div>
  <div class="title">Следующие:</div>
  <app-figure
    [color]="'blue'"
    [figure]="'T'"
    [style.width.px]="width"
  ></app-figure>
  <app-figure
    [color]="'purple'"
    [figure]="'L'"
    [style.width.px]="width"
  ></app-figure>
  <app-figure
    [color]="'red'"
    [figure]="'O'"
    [style.width.px]="width"
  ></app-figure>
</div>
