.island {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 8px solid var(--tui-background-accent-1);
  border-radius: 2px;
}

.title {
  font: var(--tui-font-text-ui-l);
  font-weight: 600;
}
