@if (isPause()) {
  <button
    size="s"
    tuiButton
    type="button"
    appearance="primary"
    tuiHintAppearance="dark"
    tuiHintDirection="bottom"
    tuiHint="Поставить игру на паузу"
    (click)="toggle()"
  >
    Пауза
  </button>
} @else {
  <button
    size="s"
    tuiButton
    type="button"
    appearance="secondary-destructive"
    tuiHintAppearance="dark"
    tuiHintDirection="bottom"
    tuiHint="Возобновить игру"
    (click)="toggle()"
  >
    Возобновить
  </button>
}

<tui-icon
  icon="@tui.settings"
  tuiHintAppearance="dark"
  tuiHintDirection="bottom"
  tuiHint="Открыть настройки"
  [style.color]="'var(--tui-background-accent-1)'"
  (click)="showDialog()"
/>
